// Menu top VAR
$menu-top-bg: var(--color-menu-top-bg);
$menu-top-fg: var(--color-menu-top-fg);
$menu-top-fv: var(--color-menu-top-fv);
$menu-top-height: 40px;

// Banner VAR
$banner-height: 70px;
$banner-search-height: 40px;
$banner-right-height: 40px;

// Menu center VAR
$menu-center-bg: var(--color-menu-center-bg);
$menu-center-fg: var(--color-menu-center-fg);
$menu-center-fv: var(--color-menu-center-fv);
$menu-center-bg-brand: var(--color-menu-center-bg-brand);
$menu-center-fg-brand: var(--color-menu-center-fg-brand);
$menu-center-bg-sub: var(--color-menu-center-bg-sub);
$menu-center-bv-sub: var(--color-menu-center-bv-sub);
$menu-center-fg-sub: var(--color-menu-center-fg-sub);
$menu-center-fv-sub: var(--color-menu-center-fv-sub);
$menu-center-height: 50px;
$menu-center-height-sub: 44px;